<h2> Second Componenet </h2>


<div>Color: {{color}}</div>
<div style="color: purple">Color: {{color}}</div> 

<div [style.color]="color">Color: {{color}}</div>  

<div [style.background-color]="color"class="box"></div>

<div
    [style.width]="size"
    [style.height]="size"
    [style.background-color]="color"
    class="box">
</div>