<p>first works!</p>

<div> First Name: {{firstName}}</div>
<div> Last Name: {{lastName}}</div>

<hr />
<div calss="person1">
    <div>Name: {{person.name}}</div>
    <div>Name: {{person.address}}</div>
    <div>Name: {{person.phone}}</div>
    <div>Name: {{person.email}}</div>
</div>


<hr />

<div calss="person2">   
    <div>Name: {{person['name']}}</div>
    <div>Name: {{person['address']}}</div>
    <div>Name: {{person['phone']}}</div>
    <div>Name: {{person['email']}}</div>
</div>