<h2> Third Component</h2>


<div 
    [class.orange-box]="boxType == 1"
    [class.red-box]="boxType == 2"
    [class.blue-box]="boxType == 3"
    class="box"></div>


<hr>

<ul>
    <li [[class.active]="category == 1"]> Category 1 </li>
    <li [[class.active]="category == 2"]> Category 2 </li>
    <li [[class.active]="category == 3"]> Category 3 </li>
    <li [[class.active]="category == 4"]> Category 4 </li>
    <li [[class.active]="category == 5"]> Category 5 </li>

</ul>

<hr>

<button>1</button>
<button>2</button>
<button>3</button>
<button>4</button>
<button>5</button>
<button>6</button>
<button>7</button>
<button>8</button>
<button>9</button>
<button>10</button>

<hr>