.box {
    width: 100px;
    height: 100px;
}


.orange-box {
    background-color: orange;
    
}

.red-box {
    background-color: red;
    
}

.blue-box {
    background-color: blue;

}


.active {
    background-color: black;
    color: purple;
}