<h2>Employee List</h2>


<div class="employee" *ngFor="let employee of employees">
  <div>Name: {{employee['name']}}</div>
  <div>Id: {{employee['id']}}</div>
  <div>Department: {{employee['department']}}</div>
  <div>Role: {{employee['role']}}</div>
  <div>Salary: {{employee['salary']}}</div>
</div>


<hr>
<hr>
<hr>
<hr>

<div>Name: {{employee['name']}}</div>
<div>Id: {{employee['id']}}</div>
<div>Department: {{employee['department']}}</div>
<div>Role: {{employee['role']}}</div>
<div>Salary: {{employee['salary']}}</div>

<hr>
<hr>
<hr>
<hr>

<div>Name: {{employees[0]['name']}}</div>
<div>Id: {{employees[0]['id']}}</div>
<div>Department: {{employees[0]['department']}}</div>
<div>Role: {{employees[0]['role']}}</div>
<div>Salary: {{employees[0]['salary']}}</div>

<hr>

<div>Name: {{employees[1]['name']}}</div>
<div>Id: {{employees[1]['id']}}</div>
<div>Department: {{employees[1]['department']}}</div>
<div>Role: {{employees[1]['role']}}</div>
<div>Salary: {{employees[1]['salary']}}</div>

<hr>
<hr>
<hr>
<hr>
<hr>

<div *ngFor="let employee of employees">
  <div>Name: {{employee['name']}}</div>
  <div>Id: {{employee['id']}}</div>
  <div>Department: {{employee['department']}}</div>
  <div>Role: {{employee['role']}}</div>
  <div>Salary: {{employee['salary']}}</div>
</div>

<hr>
<hr>
<hr>
<hr>
<hr>

